.env
env
# Ignore Python virtual environments
venv/
env/

# Ignore environment files
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Optional: OS-specific ignores
.DS_Store

# Optional: logs
*.log
*.json
summarizer-5d94a-firebase-adminsdk-fbsvc-a1af90cd4a.json